@'
.vscode/
__pycache__/
build-*/
src/build-*/
results/logs/
src/results/
*.pyc
*.obj
*.o
*.exe
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
'@ | Set-Content .gitignore